.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
}

/* div,
img,
iframe,
section,
ul,
li {
  border: 1px solid red;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 2px solid rgb(114, 189, 16);
}
ul,
li {
  border: 1px solid rgb(67, 151, 247);
} */
